body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
.main-menu {
    background-color: #ffae00;
    color: #fff;
    padding: 10px;
}

.option-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-menu a {
    color: #020202;
    text-decoration: none;
    padding: 10px;
}

/* Estilos para o menu hamburguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Estilos para a tabela */
table {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #000000;
    color: #fff;
}

a:hover {
    transition: 0.7s;
    background-color: rgba(128, 128, 128, 0.562);
    border-radius: 2px;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 1180px) {
    .option-menu {
        flex-direction: column;
    }

    .option-menu a {
        margin-bottom: 10px;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }

    input[type="text"],
    select {
        margin-left: 33px;
    }
}


nav>.loginimg {
    width: 300px;
    cursor: pointer;
    border-radius: 180px;
    background-color: white;
}

h1 {
    cursor: none;
    margin-top: 20px;
}

textarea {
    width: 100%;
    min-height: 100px;
    /* Altura mínima */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    /* Permite redimensionar verticalmente */
    cursor: pointer;
}


::placeholder {
    color: black;
    font-size: 20px;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-left: 45px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10vh;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    label {
        margin-left: 28px;
    }

    input[type="text"],
    select {
        margin-left: 23px;
    }

    button {
        margin-left: 183px;
        width: 40%;
    }
}

.login-a {
    margin-right: 20vh;
    color: black;
    width: 5%;
    border-radius: 360px;
}


iframe {
    height: 1040px
}