*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: rgb(255, 255, 255);
}


div{/*Todos os Campos*/
    width: 40%;
    margin-left: 40%;
    display: block;
    margin-top: 2%;
    text-align: left;
}

.inputs{/*Manipulação dos campos de informações*/
    margin-top: 15%;
    padding: 15px;
    border-radius: 4px;
    width: 60%;
    cursor: pointer;
    outline: none;
}

la{/*Tag personalizada para os Textos*/
   color: rgb(255, 0, 0); 
}

.pesquisa{ /*Barra de pesquisa+*/
    padding: 0.5%;
    border-radius: 8px;
    border: none;
    background-color: none;
    border-bottom: 1px outset black;
    position: absolute;
    transform: translateY(-80%) translateX(110%);
    width: 30%;
    outline: none;
    cursor: pointer;
}

.cancelar{ /*Botão de cancelar*/
    text-decoration: none;
    color: black;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 6px;
}


 .salvar{ /*Botão de salvar*/

    padding: 10px;
    width: 10%;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;


}

@media (max-width:540px){

    
 .salvar{ /*Botão de salvar*/

    width: 40%;
    margin-left: -10%;
    margin-top: 10%;

 
}

.pesquisa{ /*Barra de pesquisa+*/

    margin-left: 40%;
    transform: translateY(-23px) translateX(16%);

}

p{
    transform: translateY(25px) translateX(-21%);
}

.inputs{/*Manipulação dos campos de informações*/
    
    width: 100%;
    margin-left: -20%;
}


}