*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
height: 100%;
width: 100%;
}



.base{ /*Base da tabela ( Config de tamanho )*/
    width: 100%;
    padding: 10px;
    margin-top: 100px;
    text-align: left;
    font-size: 21px;

    
}


/*Configurações de tamanho das lacunas */

.data{

    box-shadow: inset
    0 0 1px gray,
    0 0 6px gray,
    0 0 4px gray;
    width: 8%;
    
}

.data > m{
    margin-left: 5%;
}

.tu{
     box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
    width: 8%;
}

.tu > m{
    margin-left: 5%;
}

.uc{

    width: 13%;
    box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
}

.uc > m{
    margin-left: 5%;
}


.pedido{
    box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
    width: 7%;
}

.pedido > m{
    margin-left: 5%;
}

.lm{
    box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
    width: 8%;
}

.lm > m{
    margin-left: 5%;
}

.descricao{
    box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
    width: 28%;
}

.descricao > m{
    margin-left: 5%;
}

.qtd{
    box-shadow: inset
    0 0 3px gray,
    0 0 1px gray,
    0 0 2px gray;
    width: 10%;
}

.qtd > m{
    margin-left: 5%;
}


/*Manipulação dos dados da tabela*/

td{
    margin-left: 5%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}


/*Inputs*/

input{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
