/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o formulário de login */
.Login {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Tamanho máximo do formulário */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Labels e inputs */
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Mensagem de erro */
#error-message {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: red;
    display: none;
}
